<%= render :partial => 'coding_playground_js' %>


<div id="container">
  <h3 class="">Problem Details for: <%= "#{@problem.function_name}"%></h3>
  <hr>

  <div class="row ml-2">
    <div class="col-sm-4">
      <label >
        <strong>Task:</strong>
        <%= @problem.text %>
      </label>
      <br/>
      <label >
        <strong>Function name:</strong>
        <%= @problem.function_name %>
      </label>
      <br/>
      <label>
        <strong>Language:</strong>
        <%= @problem.language.descriptor %>
      </label>
    </div>
  </div>

  <%= render :partial => 'coding_playground_html' %>
</div>